/* HTML elements */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}
/* Utility Classes */
.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.overlay {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

#top {
    width: 1px;
    top: 1px;
    opacity: 0;
}